{{template "base" .}}


{{define "content"}}
    <div class="container ">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">

                <img src="/static/images/marjors-suite.png" class="img-fluid img-thumbnail room-image mx-auto d-block">

            </div>

        </div>
        <div class="row ">

            <div class="col ">

                <h1 class="text-center mt-4 ">
                    This is the about Page
                </h1>
                <p>
                    Amet id et Fugiat Lorem ea do deserunt eu eu sint mollit laborum voluptate. Velit officia esse qui mollit cupidatat non dolore aliqua excepteur. Amet ullamco veniam quis do et ex tempor eiusmod laborum non irure nostrud. Ad ad veniam aute dolore nisi
                    duis. Nulla elit aute cupidatat qui culpa minim sint commodo eiusmod tempor. Veniam proident pariatur dolore proident quis quis nostrud nisi irure aliqua aliquip tempor commodo. Incididunt minim enim consequat eu elit labore eu. Sint
                    qui ut nulla velit.henderit deserunt ut elit cupidatat ad qui ut.in ipsum velit aute ad non nisi pariatur veniam consequat veniam. Proident ea incididunt aliqua ut sint id irure cupidatat cupidatat anim officia consequat Lorem. Aliqua
                    dolore sunt esse minim non pariatur sit fugiat commodo eu excepteur pariatur.
                </p>
            </div>

        </div>


    </div>



{{end}}