{{template "base" .}}


{{define "content"}}
    <div class="container ">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">

                <img src="../static/images/generals-quarters.png"
                     class="img-fluid img-thumbnail room-image mx-auto d-block">

            </div>

        </div>
        <div class="row ">

            <div class="col ">

                <h1 class="text-center mt-4 ">
                    General's Quarters
                </h1>
                <p>
                    Amet id et Fugiat Lorem ea do deserunt eu eu sint mollit laborum voluptate. Velit officia esse qui
                    mollit cupidatat non dolore aliqua excepteur. Amet ullamco veniam quis do et ex tempor eiusmod
                </p>
            </div>

        </div>
        <div class="row ">
            <div class="col text-center ">
                <a id="check-availability-btn" href="#" class="btn btn-success "> Check Availability
                </a>
            </div>
        </div>

    </div>


{{end}}

{{define "js"}}
    <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/js/datepicker-full.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@pnotify/core@5.2.0/dist/PNotify.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
{{/*    <script type="text/javascript" src="js/noty/packaged/jquery.noty.packaged.min.js"></script>*/}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pnotify/2.0.0/pnotify.all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
    <script>
        document.getElementById("check-availability-btn").addEventListener("click", function () {
            let html = `
     <form id="check-availability-form" action="" method="post" novalidate>
     <div class="row">
                 <div class="col">
                         <div class="row" id="reservation-date-modal">
                                <div class="col">
                                              <input  required class="form-control" type="date" name="start" id="start" placeholder="Arrival">
                                    </div>               <div class="col">
                                                <input  required class="form-control" type="date" name="end" id="end" placeholder="Departure">
                                    </div>
                         </div>
                     </div>
         </div>
</form>
     `
            attention.custom({
                msg: html,
                title: "choose your dates",
                willOpen: () => {
                    // const picker = new Litepicker({
                    //     // element: document.getElementById('reservation-dates')
                    //     element: document.getElementById('start'),
                    //     elementEnd: document.getElementById('end'),
                    //     singleMode: false,
                    //     allowRepick: true,
                    //     minDate: new Date(),
                    // });
                    // console.log(picker);
                    const elem = document.getElementById("reservation-date-modal");
                    const rp = new DateRangePicker(elem, {
                        format: 'yyyy-mm-dd',
                        showOnFocus: true,

                    })

                },
                didOpen: () => {
                    document.getElementById("start").removeAttribute("disabled");
                    document.getElementById("end").removeAttribute("disabled");
                },
                callback: function (result) {

                    let form = document.getElementById("check-availability-form");

                    let formData = new FormData(form);
                    formData.append("csrf_token", "{{.CSRFToken}}");
                    formData.append("room_id", "1");



                    fetch('/search-availability-json', {
                        method: "post",
                        body: formData,
                    })
                        .then(response => response.json())
                        .then(data => {
                            console.log(data);
                            var notyf = new Notyf();

                            if (data.ok){
                                attention.custom({
                                    icon: "success",
                                    showConfirmButton:false,
                                    msg:'<p> Room is available</p>'+
                                        '<p><a href="/book-room?id=' +
                                        data.room_id
                                        + '&s='
                                        +data.start_date
                                        + '&e'
                                        +data.end_date+
                                        '" class="btn btn-primary">Book Now</a></p>'
                                })
                                notyf.success('room is available');
                            }else {

                                notyf.error("No availability")
                            }

                        })
                }

            });
        })
    </script>

{{end}}