{{template "base" .}}


{{define "content"}}
    <div class="container ">

        <div class="row ">

            <div class="col-md-5  ml-10 ">

                <h1 class="text-center mt-4 ">Make Reservation</h1>

                {{ $res := index .Data "reservation" }}

                <form method="post" action="/make-reservation" class="" novalidate>
                    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">


                    <div class="form-group mt-5">
                        <label for="first_name"> First Name :</label>
                        {{with .Form.Errors.Get "first_name"}}
                            <label class="text-danger"> {{.}}</label>
                        {{end}}
                        <input type="text" name="first_name"
                               class="form-control {{with .Form.Errors.Get "first_name" }} is-invalid {{end}}"
                               autocomplete="false" id="first_name" value="{{$res.FirstName}}"
                               required>
                    </div>

                    <div class="form-group mt-5">
                        <label for="last_name"> Last Name :</label>
                        {{with .Form.Errors.Get "last_name"}}
                            <label class="text-danger"> {{.}}</label>
                        {{end}}
                        <input type="text" name="last_name"
                               class="form-control {{with .Form.Errors.Get "last_name"}} is-invalid {{end}}"
                               value="{{$res.LastName}}"
                               autocomplete="false" id="last_name"
                               required>
                    </div>

                    <div class="form-group mt-5">
                        <label for="start_date">
                            Start Date:
                        </label>
                        <input type="text" name="start_date" id="start_date" class="form-control">
                    </div>
                    <div class="form-group mt-5">
                        <label for="end_date">
                            End Date:
                        </label>
                        <input type="text" name="end_date" id="end_date" class="form-control">
                    </div>
                    <input type="hidden" name="room_id" value="1">

                    <div class="form-group mt-5">
                        <label for="email"> Email :</label>
                        {{with .Form.Errors.Get "email"}}
                            <label class="text-danger"> {{.}}</label>
                        {{end}}
                        <input type="email" name="email" value="{{$res.Email}}"
                               class="form-control {{with .Form.Errors.Get "email"}} is-invalid {{end}}"
                               autocomplete="false" id="email" required>
                    </div>

                    <div class="form-group mt-5">

                        <label for="phone"> phone :</label>
                        {{with .Form.Errors.Get "phone"}}
                            <label class="text-danger"> {{.}}</label>
                        {{end}}
                        <input type="text" name="phone"
                               class="form-control {{with .Form.Errors.Get "phone"}} is-invalid {{end}}"
                               value="{{$res.Phone}}" autocomplete="false"
                               id="phone" required>
                    </div>

                    <input type="submit" class="btn btn-primary mt-5" value="Make Reservation">

                </form>

            </div>

        </div>
    </div>
{{end}}